* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../../../public/img/ocean.jpg);
    background-repeat: no-repeat;
}

#Titre {
    font-size: 50px;
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#formHead {
    margin-left: 8%;
    padding: 32px 32px 0;
    opacity: 0.8;
}

#formHead input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    outline: none;
}

#formHead button {
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: white;
    cursor: pointer;
}