* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Titre {
    text-decoration: underline;
    font-size: 50px;
}

#formHead {
    margin-left: 8%;
    padding: 32px 32px 0;
}

#formHead input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    outline: none;
}

#formHead button {
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: white;
    cursor: pointer;
}